{% extends "productos/layout.html" %}
{% block titulo %}
    <title>Mi carrito</title>
{% endblock %}
{% block content %}
<div class="container-fluid card"> 
    <div class="card-header">
        <h1>Productos del carrito</h1>
    </div>   
    <div class="container-fluid row card-body">
        <table class="responsive nowrap w-100">
            {% if carrito|length > 0 %}
                {% for un_producto in carrito %}
                    <tr>
                        <td>
                            <p>{{un_producto.titulo}}: {{un_producto.descripcion}} <span style="text-align: right;">$ {{un_producto.precio}}</span></p>
                        </td>
                        <td>
                            <a class= "btn btn-danger" href="{% url 'catalogo:quitar_carrito' forloop.counter %}">Quitar</a> 
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <h2>No tenés productos en tu carrito. <br> Ve al inicio para comprar ;) </h2>
            {% endif %}
        </table>
    </div>
    <div class="card-footer d-flex justify-content-end">
        <a class= "btn btn-danger" href="{% url 'catalogo:vaciar_carrito' %}">Vaciar carrito</a> 
        <button class="btn my-btn">Finalizar compra</button> 
    </div>
</div>    
{% endblock %}