{% extends "productos/layout.html" %}
{% block titulo %}
    <title>Productos</title>
{% endblock %}
{% block h1 %}
    <h1>Productos</h1>
{% endblock %}
{% block content %}

    <div class="row"> 
        {% for un_producto in lista_productos %}
            {% if forloop.counter <= 3 %}
                <div class="col d-flex justify-content-center">
                    <div class="card" style="width: auto;"> 
                        <div class="card-header">
                            <h5 class="card-title">{{ un_producto.titulo }}</h5>
                        </div>
                        <div class="card-body">
                        {% load static %}
                        <img src="{{ un_producto.imagen.url }}" class="card-img-top" height="300" width="300" alt="foto">
                        </div>
                        <div class="card-footer mx-auto">
                            <a href="{% url 'catalogo:producto' un_producto.id %}" class="btn my-btn">Ver producto</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="container card my-3">
        <div class="card-header">
            <h1>Más productos</h1>
        </div>
        <div class="container-fluid row card-body">
            <table class="responsive nowrap w-100">
                {% for un_producto in lista_productos %}
                {% if forloop.counter > 3 and forloop.counter <= 10 %}
                <tr>
                    <td>
                        <a href="{% url 'catalogo:producto' un_producto.id %}">{{un_producto.titulo}}: {{un_producto.descripcion}}</a> 
                    </td>
                    <td>
                        {% if perms.catalogo.change_producto %}
                        <a class= "btn my-btn" href="{% url 'catalogo:producto_modificar' un_producto.id %}">Editar</a> 
                        {% endif %}
                        {% if perms.catalogo.delete_producto %} 
                        <a class= "btn btn-danger" href="{% url 'catalogo:producto_eliminar' un_producto.id %}">Eliminar</a>  
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>    

{% endblock %}