{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        {% block titulo %}
        {% endblock %}
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css">

    </head>
    <body>
      <div class="superencabezado">
        <div class="navar navbar-expand">
          <div class="container-fluid navbar-nav encabezado">
              <div class="d-inline-block">
                  <img src="/fotos/Jaguaretekaa.png" width="25%" alt="logo">
              </div>
              <div class="top-right">
                <ul class="nav navbar-nav ml-auto">
                  {% if user.is_authenticated %}
                  <li class="nav-item">
                    <p class="btn btn-outline-success">{{ user.get_username }}</p>
                  </li>
                  {% if request.user.groups.all.0.name == "usuario" %}
                    <li class="nav-item">
                      <a class="btn btn-outline-success position-relative" href="{% url 'catalogo:carrito'%}">
                        Carrito
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                          {{ request.session.carrito|length}}
                          <span class="visually-hidden">productos en el carrito</span>
                        </span>
                      </a>
                    </li>
                  {% endif %}
                  <li class="nav-item">
                    <a class="btn btn-outline-success" href="{% url 'logout'%}?next=/">Desconectarse</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                      <a class="btn btn-outline-success" href="{% url 'login'%}?next={{request.path}}">LOGIN</a>
                  </li>
                  <li class="nav-item">
                      <a class="btn btn-outline-success" href="{% url 'USUARIOS:registrarse' %}">REGISTRO</a>
                  </li>
                {% endif %}
                </ul>
              </div>
          </div>
        </div>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Jaguareté ka'a S.A.</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'catalogo:index' %}">Inicio</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Categorías
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      {% for c in categorias %}
                      <li><a class="dropdown-item">{{c.nombre}}</a></li>
                      {%endfor%}
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'acercade' %}">Acerca de...</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="mailto:jaguaretekaasa@gmail.com">Contacto</a>
                  </li>
                  <li class="nav-item">
                    {% if perms.catalogo.add_producto %}
                    <a class="nav-link" href="{% url 'catalogo:producto_alta'%}">Nuevo producto</a>
                    {% endif %}
                  </li>
                </ul>
              <form id="formulario" class="d-flex form-inline my-2 my-lg-0" action="{% url 'catalogo:resultado_busqueda' %}" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" name="q" id="q">
                <input type="hidden" id="categoriaelegida" name="categoriaelegida">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
              </form>
            </div>
        </nav>
      </div>
        <main role="main" class="flex-shrink-0">
            <div class="container">
                <h1 class="mt-5">
                    {% block h1 %}
                    {% endblock %}
                </h1>
                <div class="container">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
          </main>
        <footer class="footer mt-auto py-3">
            <div class="container">
              <span class="text-muted">JAGUARETE KAA S.A. &copy; desarrollado por Mirian Rodriguez </span>
            </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script>
          $(document).on('click', '.dropdown-menu li a', function() {
              var cat = $(this).html();
              $('#categoriaelegida').attr("value", cat);
              document.getElementById("categoriaelegida").value = String(cat);
              document.getElementById("formulario").submit(); 
          }); 
        </script>
    </body>
</html>
