{% extends "productos/layout.html" %}
{% block titulo %}
    <title>Alta de producto</title>
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h1>Alta de producto </h1>
    </div>
    <div class="card-body">
        <form action="{% url 'catalogo:producto_alta' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in formset %}
                <div class="container-fluid">         
                    <div class="row">
                        <div class="form-group col">
                            <label for="{{ field.name }}">{{ field.label }} 
                                {% if field.field.required %} 
                                <span class="text-danger">*</span> 
                                {% endif %}</label> 
                            </label>
                            {{ field }}
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
    <div class="card-footer d-flex justify-content-end">
        <input class="btn my-btn" type="submit" value="GUARDAR">
    </div>
    </form>
</div>
{% endblock %}