{% extends "productos/layout.html" %}
{% block titulo %}
    <title>{{producto.titulo}}</title>
{% endblock %}
{% block content %}
<div class="container-fluid card">
    <div class="card-header">
        <h1>{{producto.titulo}}</h1>
    </div>
    <div class="card-body table-responsive">
        <table class="table">
            <tr>
                <td class= "p-3 m-3 col-4 ">                 
                    {% load static %}
                    <img src="{{ producto.imagen.url }}" height="300" width="300" alt="foto">
                </td>
                <td class="text-rigth text-top">
                    <p>CATEGORIA: {{producto.categoria.nombre}}</p>
                    <p>{{producto.descripcion}}</p>
                    <p>PRECIO: $ {{producto.precio}}</p>
                </td>
            </tr>
        </table>
    </div>
    <div class="card-footer d-flex justify-content-end">
        <a href="{% url 'catalogo:index' %}">Volver al inicio</a>
        {% if perms.catalogo.change_producto %}
        <a class= "btn my-btn" href="{% url 'catalogo:producto_modificar' producto.id %}">Editar</a> 
        {% endif %}
        {% if perms.catalogo.delete_producto %} 
        <a class= "btn btn-danger" href="{% url 'catalogo:producto_eliminar' producto.id %}">Eliminar</a>  
        {% endif %}
        {% if user.is_authenticated %}
            {% if not perms.catalogo.add_producto %}
                <a class="btn my-btn align-left" href="{% url 'catalogo:agregar_carrito' producto.id %}">Agregar al carrito</a>
            {% endif %}
        {% else %}
            <a class="btn my-btn align-left" href="{% url 'login'%}?next={{request.path}}">Agregar al carrito</a>
        {% endif %}
    </div>
</div>
{% endblock %}