{% extends "productos/layout.html" %}
{% block titulo %}
    <title>Resultado de la búsqueda</title>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h1>Listado de productos: {{item}}</h1>
        </div>
        <div class="card-body">
            {% if productos|length == 0 %}
                <h2>Ningún elemento para mostrar</h2>
            {% else %}
            <ul>
                {% for p in productos %}
                    <li><a href="{% url 'catalogo:producto' p.id %}"> {{p.titulo}}: {{p.descripcion}} </a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>    
{% endblock %}