body {
    font-size: 16;
    background-color: #cacebd;
    width: 100%;
}

.my-btn{
    color: #fff;
    background-color: yellowgreen;
    border-color: yellowgreen;
}


.top-right {
      position: absolute;
      right: 10px;
      top: 18px;
}

.links > a {
      color: #636b6f;
      padding: 0 25px;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: .1rem;
      text-decoration: none;
      text-transform: uppercase;
}
div {
    margin: 2px;
}

.card-header{
    background-color: yellowgreen;
}

.encabezado{
    background-color: yellowgreen;
    padding-bottom: 0px!important;
}

.navbar {
    background-color: yellowgreen!important;
    padding-top: 0px!important;
}

.superencabezado{
    background-color: yellowgreen;
    padding-bottom: 0px!important;
}

.btn {
    margin-left: 8px;
    margin-right: 8px;
}

main{
    min-height: 90vh;
}

.form-group{
    margin: 4px;
}

.form-control{
    margin: 3px;
}