{% extends "C:\Users\Mirian Rodriguez\Documents\Cursos hechos\Curso programacion web fullstack con python y js\jaguaretekaasa\jaguaretekaasa\catalogo\templates\productos\layout.html" %}

{% block content %}

<p>Has sido desconectado.</p>

<a href="{% url 'login'%}">Click aqui para volver a acceder.</a>

{% endblock %}