{% extends "C:\Users\Mirian Rodriguez\Documents\Cursos hechos\Curso programacion web fullstack con python y js\jaguaretekaasa\jaguaretekaasa\catalogo\templates\productos\layout.html" %}

{% block content %}
<div class="container p-auto">
  <div class="card mx-auto text-center">
    <div class="card-header">

      {% if form.errors %}
        <p>El usuario y la clave no coinciden, por favor intente nuevamente.</p>
      {% endif %}

      {% if next %}
          {% if user.is_authenticated %}
          <p>Tu cuenta no tiene acceso a esta página. Para proceder,
              por favor inicie sesión con una cuenta que tenga acceso.</p>
          {% else %}
            <h1>Acceder a la web</h1>
          {% endif %}
      {% else %}
        <h1>Acceder a la web</h1>
      {% endif %}
    </div>
    <div class="card-body">
      <form method="post" action="{% url 'login' %}">
      {% csrf_token %}

      <div class="form-group">
        <label for="username">Usuario: </label></br>
        {{ form.username }}
      </div>
      <div class="form-group">
        <label for="password">{{ form.password.label_tag }}</label></br>
        {{ form.password }}
      </div>
    </div>
    <div class="card-footer">
      <input class="btn my-btn" type="submit" value="ACCEDER" />
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
    </form>

    {# Asume que configuras la vista password_reset en tu URLconf #}

    <p><a href="{% url 'password_reset' %}">¿Olvidó su contraseña?</a></p>

    <p><a href="{% url 'USUARIOS:registrarse' %}">Registrarse</a></p>

  </div>
</div>
{% endblock %}