{% extends "C:\Users\Mirian Rodriguez\Documents\Cursos hechos\Curso programacion web fullstack con python y js\jaguaretekaasa\jaguaretekaasa\catalogo\templates\productos\layout.html" %}

{% block content %}

<h1>Ha cambiado su contraseña</h1>
<p><a href="{% url 'login' %}">¿Acceder nuevamente?</a></p>

{% endblock %}