{% extends "C:\Users\Mirian Rodriguez\Documents\Cursos hechos\Curso programacion web fullstack con python y js\jaguaretekaasa\jaguaretekaasa\catalogo\templates\productos\layout.html" %}

{% block content %}

{% if validlink %}
        <p>Ingrese (y confirme) su nuevo password.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nuevo password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirmar password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Cambiar mi password" /></td>
                </tr>
            </table>
        </form>
        
{% else %}
    <h1> Error al restablecer el password </h1>
    <p> El enlace para restablecer la contraseña no es válido, posiblemente porque ya se ha utilizado. Solicite un nuevo restablecimiento de contraseña. </p>
{% endif %}
<p><a href="{% url 'login' %}">Volver</a></p>
{% endblock %}