{% extends "C:\Users\Mirian Rodriguez\Documents\Cursos hechos\Curso programacion web fullstack con python y js\jaguaretekaasa\jaguaretekaasa\catalogo\templates\productos\layout.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h1>Formulario para cambiar su clave</h1>
    </div>
    <div class="card-body">
        <p>Debe ingresar el correo electrónico que usó al registrarse:</p>
        
        <form action="" method="post">{% csrf_token %}
            {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                <p>{{ form.email }}</p>
    </div>
    <div class="card-footer d-flex justify-content-end">
            <input type="submit" class="btn my-btn btn-default btn-lg" value="Restablecer contraseña" />
        </form>
    </div>
</div>


{% endblock %}