{% extends "C:\Users\Mirian Rodriguez\Documents\Cursos hechos\Curso programacion web fullstack con python y js\jaguaretekaasa\jaguaretekaasa\catalogo\templates\productos\layout.html" %}

{% block content %}
<div class="card">
  <div class="card-header">
    <h2>Formulario de Registro</h2>
  </div>
  <div class="card-body">
  <p style="color: red">{{ mensaje }}</p>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="container-fluid">         
      <div class="row">
          <div class="form-group col">
              <label for="{{ field.name }}">{{ field.label }} 
              {% if field.field.required %} 
              <span class="text-danger">*</span> 
              {% endif %}</label> 
               {{ field }}
               {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
               {% endfor %}
          </div>
      </div>
    </div>
    {% endfor %}
    </div>
    <div class="card-footer  d-flex justify-content-end">
      <button class="btn my-btn" type="submit">Confirmar Registro</button>
    </div>
  </form>

</div> 
{% endblock %}